<h1><%= @post.title%></h1>
<p class="lead">
  by <span class="text-info"><%= @post.email %></span>
</p>
<hr>
<p><span class="glyphicon glyphicon-time"></span> <%= time_ago_in_words(@post.created_at) %></p>
<%== @post.body %>
<br />
<br />
<%= render 'manage' %>
<hr>
<!-- Blog Comments -->
<%= render 'comments/form' %>
<hr>
<!-- Posted Comments -->
<%= render 'comments/index' %>